<a href="projects/calculator/" class="pageButton noSelect">calc</a>
<a href="projects/heretics/" class="pageButton noSelect">heretics</a>
<a class="pageButton noSelect" id="disabled">chat v1</a>
<a href="projects/chatv2/" class="pageButton noSelect">chat v2</a>
<a href="projects/webgl/" class="pageButton noSelect" id="alpha">webGL</a>
<a href="projects/canvas/" class="pageButton noSelect" id="alpha">canvas</a>
<a href="projects/debts/" class="pageButton noSelect">debts</a>
<a href="projects/bonus/" class="pageButton noSelect">bonus</a>
<script type="text/javascript">
  $('#disabled').onclick(function() {
    alert('This project is unavailable.');
  });
</script>
