<p>The Leo club is open to young men and women from 12 to 18 years of age. The purpose of our club is to serve our community while developing our skills in leadership, commitment and teamwork.

The Leo Club’s mission is to provide the youth of the world with an opportunity for development and contribution, individually and collectively, as responsible members of the local, national and international community.

We are a community-based organization sponsored by the <a href="http://sussexlions.org/">Sussex Lions Club.</a>  We are not affiliated with any school.  When applying for post-secondary institutions and scholarships, this experience is evidence of community involvement.  Click here for <a href="http://sussexlions.org/leoclub/Leobrochure.pdf">our brochure.</a>
</p>

<h1>WE SERVE!</h1>

<h3>For further information, contact the club at <a href="mailto:sussex.leo.club@gmail.com">sussex.leo.club.gmail.com</a></h3>
