<p>We are always looking for new members.  If you’re between the ages of 12 and 18 and looking to help people, gain service hours and have fun, then you have found the right club!

Step 1: Fill out an application Leo Membership Application Sussex

Step 2: Attend a Leo club meeting and turn in your application along with your dues ($10 / year) and Leo shirt order ($10-$15)

Step 3: The Leo Executive Board meets after every club meeting and reviews / approves all applications.  You will be notified when your application is approved

Step 4: Start attending meetings and participating at events!
</p>
